<% provide(:title, "Contact") %>
<h1>Olga Lobanova, professional arts designer, stylist</h1>
<p>Shop 21, 108 Bourke St, Paramaount Shopping Centre, Melbourne, </br>
   VIC, Australia, 3000</p>
   <p>0410653179</p>
