<%= provide(:title, "Gallery") %>
<h1>Gallery</h1>

<div id="gallerypics">
  <img src="https://78.media.tumblr.com/11b819b6eff24c60ffe112045f217152/tumblr_p39gz3USCR1x3ccw1o5_1280.jpg" alt="poster pic example">
<div>
<div id="gallerypics">
  <img src="https://78.media.tumblr.com/11b819b6eff24c60ffe112045f217152/tumblr_p39gz3USCR1x3ccw1o5_1280.jpg" alt="poster pic example">
<div>
