@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body{
  padding-top: 60px;
  padding-left: 80px;
  background-color: #2A2A2A;
}
h1{
  color: #bfefff;
}

h3{
  color: #A9A9A9;
}

p{
  color: #d3d3d3;
}

li{
  font-weight: bold;
  color: black;
}
/* products */

#gallerypics{
  padding-top: 50px;
  padding-bottom: 50px;

}

#product1icon{
  

  padding-right: 40px;

}
/* divboxes */

#divbox1{
  padding-top: 40px;
  padding-right: 10px;

}
#posterimagedesc{
  border-style:double;
  border-color: #FF00FF;
  height: 116px;
  float: left;
}


#posterimage{
  background-image: url('https://78.media.tumblr.com/11b819b6eff24c60ffe112045f217152/tumblr_p39gz3USCR1x3ccw1o5_1280.jpg');
  height:116px;
  width: 100px;
  background-size:contain;
  border-style:double;
  border-color: #FF00FF;
}

#poemimage{
  background-image: url('https://78.media.tumblr.com/1e8905b886dd8a39f4ae7fa2a7cfd5fd/tumblr_p39gz3USCR1x3ccw1o3_500.jpg');
  height:116px;
  width: 100px;
  background-size:contain;
  border-style:double;
  border-color: #FF00FF;
}

#childrenimage{
  background-image: url('https://78.media.tumblr.com/a273ffa146fdb78f831ace2ebe6e811d/tumblr_p39gz3USCR1x3ccw1o2_1280.jpg');
  height:116px;
  width: 100px;
  background-size:cover;
  border-style:double;
  border-color: #FF00FF;
}

#postcardimage{
  background-image: url('https://78.media.tumblr.com/8a42de1bb308aa83fc3dbc2a185fcc4d/tumblr_p39gz3USCR1x3ccw1o6_1280.jpg');
  height:116px;
  width: 100px;
  background-size:cover;
  border-style:double;
  border-color: #FF00FF;
}

#collageimage{
  background-image: url('https://78.media.tumblr.com/0c8a45570fb67eff445bfc30bfb75a85/tumblr_p39ifxT7wu1x3ccw1o1_540.jpg');
  height:116px;
  width: 100px;
  background-size:contain;
  border-style:double;
  border-color: #FF00FF;
}
/* products */

#productsdiv{

  float: left;
  padding-right: 10px;
}
/* navbar */

#logo{
  font-size: 2.7em;
  font-style: italic;
  color: #FF00FF;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  text-decoration: none;
  &:hover{
    color: #bfefff;
  }
}


#logoimage{



  float: left;
  margin-right: 10px;
  padding-top: 10px;


}

/* background images */

.image-right{
  float:right;
  background-color: white;
  position:relative;


}
.image-bottom{
  position:absolute;
  bottom: 0;
  background-image: url('https://78.media.tumblr.com/6fda5be691a505129475c06894ea84e1/tumblr_p39gz3USCR1x3ccw1o4_1280.jpg');
  height: 900px;
  width:900px;
}
