@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body{
  padding-top: 60px;
  padding-left: 80px;
  background-image:url('https://78.media.tumblr.com/13de4221450fd6fb4244c6a9040599c0/tumblr_p3kmfvZepq1x3ccw1o1_1280.jpg');
  background-size: cover;
}
h1{
  color: #bfefff;
}

h3{
  color: #A9A9A9;
}

p{
  color: white;
}

li{
  font-weight: bold;
  color: black;
}
/* orders */

#contactme{
  padding-top: 30px;
}
/* products */

#homepagedivs{
  padding-top: 100px;
}

#abcd{
  clear:both;
}

#gallerypics{
  padding-top: 50px;
  padding-bottom: 50px;

}

#homepagebackground{
  height: 100%;
  width: 100%;

  background-image: url('https://78.media.tumblr.com/9ff211d6eaf3f0b5b332622016222a7a/tumblr_p3knxgnLM91x3ccw1o1_1280.jpg');
  background-size: cover;
}

#infobutton{

  background-color: #FF00FF;
}

#olgasimage{
  height: 350px;
  width: 350px;
  background-image: url('https://78.media.tumblr.com/2e1517637ef5e1a8292c12795d1ca9cb/tumblr_p39pzwxLW91x3ccw1o1_1280.jpg');
  background-size: cover;
  float:right;
  position:relative;
  padding-bottom: 20px;
}

#runningphoto{
  height: 150px;
  width: 150px;
  background-image: url('https://78.media.tumblr.com/d52d36f1d19e6c1835fca0ef8893aad9/tumblr_p3kqojMmll1x3ccw1o1_540.gif');
  background-size: cover;
  position:relative;
  padding-bottom: 20px;
}

img{
  max-height: 100%;
  max-width: 100%;
}
#russianinfoimage{
  height: 100%;
  width: 100%;
  background-image: url('https://78.media.tumblr.com/6ef2f27f7d53e82b213ad8ff40ddbce7/tumblr_p3krenKD4c1x3ccw1o1_1280.jpg');
  background-size: cover;
  position:fixed;


}

#product1icon{


  padding-right: 40px;

}
/* divboxes */

#postertag{
  background-color: gray;
}




#divbox1{
  padding-top: 40px;
  padding-right: 10px;
  padding-bottom: 20px;

}
#posterimagedesc{
  border-style:double;
  border-color: #FF00FF;
  height: 116px;
  float: left;
}


#posterimage{
  background-image: url('https://78.media.tumblr.com/c195e37919eec1f29cc45430728f49ec/tumblr_p3kpw0sAEK1x3ccw1o1_1280.jpg');
  height:116px;
  width: 100px;
  background-size:contain;
  border-style:double;
  border-color: #FF00FF;
}

#poemimage{
  background-image: url('https://78.media.tumblr.com/1e8905b886dd8a39f4ae7fa2a7cfd5fd/tumblr_p39gz3USCR1x3ccw1o3_500.jpg');
  height:116px;
  width: 100px;
  background-size:contain;
  border-style:double;
  border-color: #FF00FF;
}

#childrenimage{
  background-image: url('https://78.media.tumblr.com/a273ffa146fdb78f831ace2ebe6e811d/tumblr_p39gz3USCR1x3ccw1o2_1280.jpg');
  height:116px;
  width: 100px;
  background-size:cover;
  border-style:double;
  border-color: #FF00FF;
}

#postcardimage{
  background-image: url('https://78.media.tumblr.com/8a42de1bb308aa83fc3dbc2a185fcc4d/tumblr_p39gz3USCR1x3ccw1o6_1280.jpg');
  height:116px;
  width: 100px;
  background-size:cover;
  border-style:double;
  border-color: #FF00FF;
}

#collageimage{
  background-image: url('https://78.media.tumblr.com/0c8a45570fb67eff445bfc30bfb75a85/tumblr_p39ifxT7wu1x3ccw1o1_540.jpg');
  height:116px;
  width: 100px;
  background-size:contain;
  border-style:double;
  border-color: #FF00FF;
}
/* products */

#productsdiv{

  float: left;
  padding-right: 10px;
}
/* navbar */

#logo{
  font-size: 2.7em;
  font-style: italic;
  color: #FF00FF;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  text-decoration: none;
  &:hover{
    color: #bfefff;
  }
}


#logoimage{



  float: left;
  margin-right: 10px;
  padding-top: 10px;


}

/* background images */

.image-right{
  float:right;
  background-color: white;
  position:relative;


}
.image-bottom{
  position:absolute;
  bottom: 0;
  background-image: url('https://78.media.tumblr.com/6fda5be691a505129475c06894ea84e1/tumblr_p39gz3USCR1x3ccw1o4_1280.jpg');
  height: 900px;
  width:900px;
}
