<h1>Childrens' Art</h1>
<p>Take a look at the samples available below.</p>

<div class="col-md-2" id="product1icon">
  <%= link_to 'https://78.media.tumblr.com/4d65d323421c20f7d82c7fb46b180663/tumblr_p39oxfyyfo1x3ccw1o3_1280.jpg' do %>
    <div class="container">
      <img src="https://78.media.tumblr.com/4d65d323421c20f7d82c7fb46b180663/tumblr_p39oxfyyfo1x3ccw1o3_1280.jpg" alt="poster pic example" height="200" width="200">
    </div>
  <% end %>
</div>

<div class="col-md-2" id="product1icon">
  <%= link_to 'https://78.media.tumblr.com/93e4afac3841c080cb994213b0053aea/tumblr_p39oxfyyfo1x3ccw1o1_1280.jpg' do %>
    <div class="container">
      <img src="https://78.media.tumblr.com/93e4afac3841c080cb994213b0053aea/tumblr_p39oxfyyfo1x3ccw1o1_1280.jpg" alt="poster pic example" height="200" width="200">
    </div>
  <% end %>
</div>

<div class="col-md-2" id="product1icon">
  <%= link_to 'https://78.media.tumblr.com/11c0ae501bbc2c00f183df8c6786c451/tumblr_p39oxfyyfo1x3ccw1o2_1280.jpg' do %>
    <div class="container">
      <img src="https://78.media.tumblr.com/11c0ae501bbc2c00f183df8c6786c451/tumblr_p39oxfyyfo1x3ccw1o2_1280.jpg" alt="poster pic example" height="200" width="200">
    </div>
  <% end %>
</div>
