<h1>Rhymes</h1>
<p>Take a look at various examples below to see the range of art available</p>
<div>
  <div class="col-md-2" id="product1icon">
    <%= link_to 'https://78.media.tumblr.com/d8afd01ba6114453d95e019d46a555a0/tumblr_p39o1gLxci1x3ccw1o1_1280.jpg' do %>
      <div class="container">
        <img src="https://78.media.tumblr.com/d8afd01ba6114453d95e019d46a555a0/tumblr_p39o1gLxci1x3ccw1o1_1280.jpg" alt="poster pic example" height="200" width="200">
      </div>
    <% end %>
  </div>

  <div class="col-md-2" id="product1icon">
    <%= link_to 'https://78.media.tumblr.com/c195e37919eec1f29cc45430728f49ec/tumblr_p3kpw0sAEK1x3ccw1o1_1280.jpg' do %>
      <div class="container">
        <img src="https://78.media.tumblr.com/c195e37919eec1f29cc45430728f49ec/tumblr_p3kpw0sAEK1x3ccw1o1_1280.jpg" alt="poster pic example" height="200" width="200">
      </div>
    <% end %>
  </div>

  <div class="col-md-2" id="product1icon">
    <%= link_to 'https://78.media.tumblr.com/3dac4c6608333c7c4182a0c193ffd3a8/tumblr_p3ktfeCExI1x3ccw1o1_540.jpg' do %>
      <div class="container">
        <img src="https://78.media.tumblr.com/3dac4c6608333c7c4182a0c193ffd3a8/tumblr_p3ktfeCExI1x3ccw1o1_540.jpg" alt="poster pic example" height="200" width="200">
      </div>
    <% end %>
  </div>

</div>
<div id="abcd">
  <%= render 'layouts/contactme' %>
</div>
