<h1>Posters.</h1>
<p>Take a look at various examples below to see the range of posters available</p>

  <div class="col-md-2" id="product1icon">
    <%= link_to 'https://78.media.tumblr.com/d8afd01ba6114453d95e019d46a555a0/tumblr_p39o1gLxci1x3ccw1o1_540.jpg' do %>
      <div class="container">
        <img src="https://78.media.tumblr.com/d8afd01ba6114453d95e019d46a555a0/tumblr_p39o1gLxci1x3ccw1o1_540.jpg" alt="poster pic example" height="200" width="200">
      </div>
    <% end %>
  </div>

  <div class="col-md-2" id="product1icon">
    <%= link_to 'https://78.media.tumblr.com/65434384e1bd28fa8a09ff17a10d66de/tumblr_p39of7H9dD1x3ccw1o1_540.jpg' do %>
      <div class="container">
        <img src="https://78.media.tumblr.com/65434384e1bd28fa8a09ff17a10d66de/tumblr_p39of7H9dD1x3ccw1o1_540.jpg" alt="poster pic example" height="200" width="200">
      </div>
    <% end %>
  </div>

  <div class="col-md-2" id="product1icon">
    <%= link_to 'https://78.media.tumblr.com/153e1f120bd8f7e423b1a7c9494ab83f/tumblr_p39oilCxsa1x3ccw1o1_540.jpg' do %>
      <div class="container">
        <img src="https://78.media.tumblr.com/153e1f120bd8f7e423b1a7c9494ab83f/tumblr_p39oilCxsa1x3ccw1o1_540.jpg" alt="poster pic example" height="200" width="200">
      </div>
    <% end %>
  </div>

  <%= render 'layouts/contactme' %>
