<%= link_to '/rhymes' do %>
  <div class="container" id="divbox1">
    <div class="col-md-2">
    </div>
    <div class="col-md-3" id="poemimage">

    </div>
    <div class="col-md-3" id="posterimagedesc">
      <p><b>Rhymes</b></br>
      Create a poem or a short story
      about friends and loved ones. View examples
      and previously created poems here.</p>
    </div>

  </div>
<% end %>
