<%= link_to '/childrensart' do %>
  <div class="container" id="divbox1">
    <div class="col-md-3" id="childrenimage">

    </div>
    <div class="col-md-3" id="posterimagedesc">
      <p><b>Art for children</b></br>
      Depict a child's story in an
      artistic and animated way. Explore
      what we can do here</p>
    </div>

  </div>
<% end %>
