<%= link_to '/posters' do %>
  <div class="container" id="divbox1">
    <div class="col-md-3" id="posterimage">

    </div>
    <div class="col-md-3" id="posterimagedesc">
      <p><b>Posters</b></br>
      Design a poster that is perfect for you,
      and is unique to your celebration
      look through a multitude of examples,
      and get yours today </p>
    </div>

  </div>
<% end %>
