<%= link_to '/postcards' do %>
  <div class="container" id="divbox1">
    <div class="col-md-2">
    </div>
    <div class="col-md-3" id="postcardimage">

    </div>
    <div class="col-md-3" id="posterimagedesc">
      <p><b>Postcards</b></br>
      Create a postcard of your choice,
      either as a gift, a memory for yourself,
      or to send to that special someone</p>
    </div>

  </div>
<% end %>
