<%= link_to '/collage' do %>
  <div class="container" id="divbox1">
  
    <div class="col-md-3" id="collageimage">

    </div>
    <div class="col-md-3" id="posterimagedesc">
      <p><b>Collage</b></br>
      Preserve a memory in a vivid collage, with
      various themes.</p>
    </div>

  </div>
<% end %>
